        <div class="footer">
            <div class="container">
                <div class="row pt-5">
                    <div class="col-md-4 col-lg-3">
                        <img src="/img/logo-light.png" alt="Seriously Slick Servers" class="footer__logo" style="width: 200px">
                        <address class="text-white-50 mt-3 mb-4 mb-lg-3">
                            Simply Virtual Servers Ltd.<br>
                            Acton House<br>
                            Perdiswell Park<br>
                            Worcester<br>
                            WR3 7GD
                        </address>
                    </div>
                    <div class="col-md-4 col-lg-2 mb-4 mb-lg-3">
                        <ul class="footer__nav">
                            <li>Virtual Servers</li>
                            <li><a href="#">OpenVZ Platform</a></li>
                            <li><a href="#">KVM Platform</a></li>
                            <li><a href="#">Platform Comparison</a></li>
                            <li><a href="#">Backup Space</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-lg-2 mb-4 mb-lg-3">
                        <ul class="footer__nav">
                            <li>Company</li>
                            <li><a href="#">Overview</a></li>
                            <li><a href="#">Infrastructure</a></li>
                            <li><a href="#">Legal Information</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-lg-2">
                        <ul class="footer__nav mb-4 mb-lg-3">
                            <li>Follow Us</li>
                            <li><a href="#">Twitter</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <ul class="footer__nav mb-0">
                            <li>Clients</li>
                            <li><a href="#">Client Area</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-center ">
                    <div class="col-md-10 col-lg-6 text-center">
                        <p class="footer__copyright text-white-50 my-4">&copy; 2020 CheapVPS. CheapVPS is a trading name of Simply Virtual Servers Ltd (06937918). VAT Number 974 8341 80.</p>
                    </div>
                </div>
            </div>
        </div>

        <script src="/js/scripts.bundle.js"></script>
    </body>
</html>