<%- include("../partials/header.ejs") %>
<div class="container py-5">
    <div class="row align-items-lg-center">
        <div class="col-lg-3">
            <h2 class="mb-4 mb-lg-0"><strong>About Us</strong></h2>
        </div>
        <div class="col-lg-9">
            <p class="mb-lg-0 text-lg-end">
                <a href="#" class="link-primary">Overview</a> &nbsp; | &nbsp;
                <a href="#" class="link-primary">Legal Information</a> &nbsp; | &nbsp;
                <a href="#" class="link-primary">Privacy</a> &nbsp; | &nbsp;
                <a href="#" class="link-primary">Cookies</a> &nbsp; | &nbsp;
                <a href="#" class="link-primary">Change to Terms</a>
            </p>
        </div>
    </div>
    <div class="row mt-lg-5">
        <div class="col-lg-8 mb-5 mb-lg-0">
            <p><strong>CheapVPS</strong> is owned and run by Simply Virtual Servers Ltd. Simply Virtual Servers Ltd. is a UK based company that specialises in Internet Hosting services and is run by individuals with nearly a decade of experience in Virtual Servers.</p>
            <p><strong>CheapVPS</strong> provides low cost, completely unmanaged virtual private servers to customers around the world. Our customers are hosted in UK data centres, meaning that we are completely financially stable and independent.</p>
            <p class="mb-5">We provide three different virtualisation platforms (OpenVZ and KVM) and are renowned for our excellent customer service. We pride ourselves in being the perfect solution for your business and invite you to <a href="#" class="link-primary">get in touch</a>.</p>
            <h5 class="mb-3 pb-2 border-bottom"><strong>Company History</strong></h5>
            <p><strong>CheapVPS</strong> is a trading name of Simply Virtual Servers and is part of Namesco, a leading UK Internet Service Provider specialising in the registration of domain names and hosting services.</p>
            <p class="mb-5">Namesco is part of the Dada Group, an international group of companies dedicated to providing professional online services to businesses and individuals. The Dada Group operates in Italy, Spain, the UK, Ireland, Portugal, France and the Netherlands through <a href="#" class="link-primary">Register IT</a>, <a href="#" class="link-primary">Nominalia SL</a>, <a href="#" class="link-primary">Namesco Limited</a>, <a href="#" class="link-primary">Register365</a> and the <a href="#" class="link-primary">Amen Group</a>.</p>
            <img src="/img/offices.png" alt="About Us" class="img-fluid">
        </div>
        <div class="col-lg-4">
            <div class="bg-light p-4 border">
                <address>
                    <strong>Company Details</strong><br>
                    Company Name: Simply Virtual Servers Ltd<br>
                    Company Number: 06937918<br>
                    Registered in England & Wales<br>
                    VAT Registration No: GB974834180
                </address>

                <address>
                    <strong>Secretary & Registered Office</strong><br>
                    Claudio Corbetta, Acton House, Perdiswell Park, Worcester, WR3 7GD.
                </address>

                <address>
                    <strong>SVS Ltd Management</strong><br>
                    Claudio Corbetta - Director<br>
                    Chirag Patel - Director<br>
                    Sarah Bratchell - Director<br>
                    Federico Bronzi - Director<br>
                    Lorenzo Lepri - Director<br>
                    Stephen Ewart - Director
                </address>

                <address>
                    <strong>Auditors to the Company</strong><br>
                    KPMG LLP<br>
                    100 Temple Street, Bristol, BS1 6AG.
                </address>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer.ejs") %>