<%- include("../partials/header.ejs") %>
<div class="container my-5">
    <div class="row">
        <div class="col-lg-8">
            <div class="blog-post border-bottom mb-5 pb-5">
                <div class="row">
                    <div class="col-md-4 mb-4 mb-md-0">
                        <a href="#"><img src="http://placehold.it/300x300" alt="Thumbnail" class="w-100"></a>
                    </div>
                    <div class="col-md-8">
                        <h4 class="mb-3"><strong><a href="#">In publishing and graphic design</a></strong></h4>
                        <p class="small">
                            <i data-feather="calendar"></i> <a href="#">Jan 25, 2021</a> &nbsp; | &nbsp; <i data-feather="user"></i> <a href="#">Author</a>
                        </p>
                        <p class="mb-2 pb-2">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum.</p>
                        <p class="m-0"><a href="#" class="btn btn-sm btn-primary">Read more</a></p>
                    </div>
                </div>
            </div>
            <div class="blog-post border-bottom mb-5 pb-5">
                <div class="row">
                    <div class="col-md-4 mb-4 mb-md-0">
                        <a href="#"><img src="http://placehold.it/300x300" alt="Thumbnail" class="w-100"></a>
                    </div>
                    <div class="col-md-8">
                        <h4 class="mb-3"><strong><a href="#">In publishing and graphic design</a></strong></h4>
                        <p class="small">
                            <i data-feather="calendar"></i> <a href="#">Jan 25, 2021</a> &nbsp; | &nbsp; <i data-feather="user"></i> <a href="#">Author</a>
                        </p>
                        <p class="mb-2 pb-2">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum.</p>
                        <p class="m-0"><a href="#" class="btn btn-sm btn-primary">Read more</a></p>
                    </div>
                </div>
            </div>
            <div class="blog-post border-bottom mb-5 pb-5">
                <div class="row">
                    <div class="col-md-4 mb-4 mb-md-0">
                        <a href="#"><img src="http://placehold.it/300x300" alt="Thumbnail" class="w-100"></a>
                    </div>
                    <div class="col-md-8">
                        <h4 class="mb-3"><strong><a href="#">In publishing and graphic design</a></strong></h4>
                        <p class="small">
                            <i data-feather="calendar"></i> <a href="#">Jan 25, 2021</a> &nbsp; | &nbsp; <i data-feather="user"></i> <a href="#">Author</a>
                        </p>
                        <p class="mb-2 pb-2">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum.</p>
                        <p class="m-0"><a href="#" class="btn btn-sm btn-primary">Read more</a></p>
                    </div>
                </div>
            </div>

            <ul class="pagination justify-content-center">
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h5 class="mb-3"><strong>Search</strong></h5>
            <form class="mb-5">
                <input type="search" class="form-control" placeholder="Enter Keywords..." required>
            </form>

            <h5 class="mb-3"><strong>Popular Posts</strong></h5>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action p-2">
                    <img src="http://placehold.it/50x50" alt="Thumbnail" class="position-absolute">
                    <div class="ms-5 ps-3">
                        <p class="mb-1">In publishing and graphic design</p>
                        <p class="m-0 small text-muted">Jan 15, 2021</p>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action p-2">
                    <img src="http://placehold.it/50x50" alt="Thumbnail" class="position-absolute">
                    <div class="ms-5 ps-3">
                        <p class="mb-1">Lorem ipsum is a placeholder text</p>
                        <p class="m-0 small text-muted">Jan 15, 2021</p>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action p-2">
                    <img src="http://placehold.it/50x50" alt="Thumbnail" class="position-absolute">
                    <div class="ms-5 ps-3">
                        <p class="mb-1">Demonstrate the visual form</p>
                        <p class="m-0 small text-muted">Jan 15, 2021</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer.ejs") %>