<%- include("../partials/header.ejs") %>
<div class="container pt-5">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="mb-4"><strong>FAQs</strong></h2>
            <div class="accordion" id="faqs">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q1">How can I ask you more questions?</button>
                    </h2>
                    <div id="q1" class="accordion-collapse collapse" data-bs-parent="#faqs">
                        <div class="accordion-body">If you are looking to enquire then please get in touch and we'll be able to help you; email office@hekanutritions.co.uk or 01temporary.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q2">Are you a business that would love to work alongside us?</button>
                    </h2>
                    <div id="q2" class="accordion-collapse collapse" data-bs-parent="#faqs">
                        <div class="accordion-body">Then we are always looking to callaborate with people to do well email us or call and we will get back to you as soon as we can.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><strong>Interested in joining our blog? <a href="#" class="link-primary">Contact us</a></strong></h5>
                    <p class="card-text">In our blog we aim to promote the benefits of nutritional supplements and a active healthly lifestyle!
                        <a href="#" class="link-primary">We'd love to hear from you</a> so get in touch!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer.ejs") %>