<%- include("../partials/header.ejs") %>
    <div class="banner my-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-white">
                    <div class="banner__inner pt-5" style="background-image: url('/img/banner.png')">
                        <ul class="mt-4 mb-0 p-4">
                            <li><i data-feather="arrow-right"></i> <strong>98%</strong> satisfied customers after our last survey.</li>
                            <li class="mt-2"><i data-feather="arrow-right"></i> <strong>15 min</strong> response time guaranteed 24x7.</li>
                            <li class="mt-2"><i data-feather="arrow-right"></i> <strong>24x7 Expert Level 3 technicians</strong><br>that will go above and beyond to ensure a high-quality service.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("../partials/footer.ejs") %>