<%- include("../partials/header.ejs") %>
    <div class="banner mb-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-white">
                    <div class="banner__inner" style="background-image: url('/img/banner.png')">
                        <ul class="mt-4 mb-0 p-4">
                            <li><i data-feather="arrow-right"></i> <strong>98%</strong> satisfied customers after our last survey.</li>
                            <li class="mt-2"><i data-feather="arrow-right"></i> <strong>15 min</strong> response time guaranteed 24x7.</li>
                            <li class="mt-2"><i data-feather="arrow-right"></i> <strong>24x7 Expert Level 3 technicians</strong><br>that will go above and beyond to ensure a high-quality service.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-4 mt-5 mt-lg-0">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="my-2"><strong>Dedicated Server</strong></h5>
                            <img src="/img/box.png" alt="Dedicated Server">
                        </div>
                        <div class="card-body bg-light">
                            <img src="http://placehold.it/400x300" alt="Dedicated Server" class="w-100">
                        </div>
                        <div class="card-footer p-3">
                            <div class="row align-items-end">
                                <div class="col">
                                    <p class="m-0 small">Average price</p>
                                    <h1 class="m-0"><strong>£130</strong></h1>
                                    <p class="m-0 small">per month</p>
                                </div>
                                <div class="col-auto">
                                    <a href="#" class="btn btn-danger btn-sm">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-5 mt-lg-0">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="my-2"><strong>Virtual Private Servers</strong></h5>
                            <img src="/img/box.png" alt="Virtual Private Servers">
                        </div>
                        <div class="card-body bg-light">
                            <img src="http://placehold.it/400x300" alt="Virtual Private Servers" class="w-100">
                        </div>
                        <div class="card-footer p-3">
                            <div class="row align-items-end">
                                <div class="col">
                                    <p class="m-0 small">Starts from</p>
                                    <h1 class="m-0"><strong>£6<sup>.99</sup></strong></h1>
                                    <p class="m-0 small">per mrc</p>
                                </div>
                                <div class="col-auto">
                                    <a href="#" class="btn btn-danger btn-sm">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-5 mt-lg-0">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="my-2"><strong>Bulk Server Packages</strong></h5>
                            <img src="/img/box.png" alt="Dedicated Server">
                        </div>
                        <div class="card-body bg-light">
                            <img src="http://placehold.it/400x300" alt="Dedicated Server" class="w-100">
                        </div>
                        <div class="card-footer p-3">
                            <div class="row align-items-end">
                                <div class="col">
                                    <p class="m-0 small">Deals start like</p>
                                    <h1 class="m-0"><strong>£99</strong></h1>
                                    <p class="m-0 small">for 3/mrc</p>
                                </div>
                                <div class="col-auto">
                                    <a href="#" class="btn btn-danger btn-sm">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p><strong>We</strong> provide basic unmanaged-managed Dedicated Server & Virtual Private Servers (VPS) and co-location at affordable prices. Working along with providers we obtain low-latency superfast reliable connectivity at great value to the market. We offer all main operating systems and total access to your equipment with quick server info delivery including control panel for restarts and more. Servers & VPS with 24/7 technical support. Ability to bring on additional features working a long a flexible team highly interested in your success.</p>
                <p class="mb-5"><strong>We</strong> operate in Tier1 datacentres with the best connectivity in the industry. We work hard on supporting you and providing additionals per business case. Free consultancy is provided as part of our customer support. There are even more reasons to choose us as your host for connectivity and hardware.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="m-0 text-center"><strong>Latest News</strong></h4>
                <div class="swiper-container news-slider my-5">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="single_news" style="background-image: url('https://picsum.photos/seed/picsum/300/200')">
                                <div class="single_news__inner d-flex align-items-end">
                                    <div class="single_news__date"><strong>03, March</strong></div>
                                    <p class="p-4 m-0"><strong>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used</strong></p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="single_news" style="background-image: url('https://picsum.photos/seed/picsum/300/200')">
                                <div class="single_news__inner d-flex align-items-end">
                                    <div class="single_news__date"><strong>03, March</strong></div>
                                    <p class="p-4 m-0"><strong>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used</strong></p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="single_news" style="background-image: url('https://picsum.photos/seed/picsum/300/200')">
                                <div class="single_news__inner d-flex align-items-end">
                                    <div class="single_news__date"><strong>03, March</strong></div>
                                    <p class="p-4 m-0"><strong>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used</strong></p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="single_news" style="background-image: url('https://picsum.photos/seed/picsum/300/200')">
                                <div class="single_news__inner d-flex align-items-end">
                                    <div class="single_news__date"><strong>03, March</strong></div>
                                    <p class="p-4 m-0"><strong>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used</strong></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="m-0 text-center"><strong>Our Customers</strong></h4>
                <div class="swiper-container client-slider my-5">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide text-center"><img src="http://placehold.it/150x50" alt="Logo"></div>
                        <div class="swiper-slide text-center"><img src="http://placehold.it/150x50" alt="Logo"></div>
                        <div class="swiper-slide text-center"><img src="http://placehold.it/150x50" alt="Logo"></div>
                        <div class="swiper-slide text-center"><img src="http://placehold.it/150x50" alt="Logo"></div>
                        <div class="swiper-slide text-center"><img src="http://placehold.it/150x50" alt="Logo"></div>
                        <div class="swiper-slide text-center"><img src="http://placehold.it/150x50" alt="Logo"></div>
                        <div class="swiper-slide text-center"><img src="http://placehold.it/150x50" alt="Logo"></div>
                        <div class="swiper-slide text-center"><img src="http://placehold.it/150x50" alt="Logo"></div>
                        <div class="swiper-slide text-center"><img src="http://placehold.it/150x50" alt="Logo"></div>
                        <div class="swiper-slide text-center"><img src="http://placehold.it/150x50" alt="Logo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include("../partials/footer.ejs") %>