<%- include("../partials/header.ejs") %>
<div class="container py-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <p class="mb-2"><strong>Join us at Heka Nutrition</strong></p>
                    <h5 class="card-title"><strong>On this page you can apply to become a blog poster for Heka Nutrition audience alternatively press login/register or
                            <a href="#" class="link-primary">click here</a> to sign in as a member at Heka Nutrition.</strong></h5>
                    <p class="card-text">- more to be added such as loyality bonus watch this space! -</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="mb-4"><strong>Joining Heka Nutrition as a member or our blogging community!</strong></h3>
            <h5 class="mb-4"><strong>Contact information</strong></h5>
            <div class="col-lg-6">
                <form class="row g-3 mb-5">
                    <div class="col-md-6">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                    </div>
                    <div class="col-md-6">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Your Email Address" required>
                    </div>
                    <div class="col-md-6">
                        <label for="mobile" class="form-label">Mobile</label>
                        <input type="text" class="form-control" id="mobile" placeholder="Your Mobile Number" required>
                    </div>
                    <div class="col-md-6">
                        <label for="telephone" class="form-label">Telephone</label>
                        <input type="text" class="form-control" id="telephone" placeholder="Your Telephone Number" required>
                    </div>
                    <div class="col-12">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Your Username" required>
                    </div>
                    <div class="col-12">
                        <label for="blog" class="form-label">What will you be posting about/want to blog?</label>
                        <textarea name="blog" id="blog" class="form-control" rows="4" required></textarea>
                        <div class="form-text">Thank you for the details, your data will be stored whilst we process this request.</div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-danger px-4 py-2">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer.ejs") %>