.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.feather {
	width: $font-size-base;
	height: $font-size-base;
}

.btn {
	&-danger {
		color: white;
		&:hover {
			color: white;
		}
	}
}

.form-label {
	font-weight: bold;
}

.table {
	&.align-middle {
		th {
			vertical-align: middle;
		}
	}
}

.blog-post {
	a:not(.btn) {
		text-decoration: none;
		color: inherit;
	}
}