$dark: #464646;

$navbar-dark-color: white;
$navbar-dark-hover-color: white;
$navbar-dark-active-color: white;
$navbar-dark-toggler-border-color: white;
$navbar-padding-y: 0;
$navbar-nav-link-padding-x: .75rem;



$dropdown-spacer: 0;
$dropdown-border-radius: 0;
$dropdown-font-size: .875rem;
$dropdown-item-padding-y: .5rem;
$dropdown-divider-margin-y: 0;
$dropdown-padding-y: 0;
$dropdown-border-width: 0;


$dropdown-dark-color: white;
$dropdown-dark-bg: $dark;
$dropdown-dark-link-color: white;
$dropdown-dark-link-hover-bg: #ee2969;
$dropdown-dark-divider-bg: white;
$dropdown-dark-box-shadow: none;






$enable-shadows: true;
$navbar-toggler-border-radius: 0;
$btn-border-radius: 0;